tqdm==4.62.1
numpy==1.19.5
matplotlib
pandas
pyfiglet
scikit_learn
swifter==1.0.9
wandb
pytest
umap-learn
plotly
mapply
torch
torchvision
torchinfo
pytorch_lightning
git+https://github.com/qubvel/segmentation_models.pytorch
torchmetrics
pickle5
einops
imblearn
black>=22.6
coverage>=6
darglint>=1.8
isort>=5.10
pre-commit>=2.20
pytest-cov>=3
openpyxl
